*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Caudex";
    text-decoration: none;
    color: black;
}

html, body {
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    display: flex;
    background-color: #EDEDED;
}

header{
    background-color: white;
    width: 260px;
    min-width: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem 1rem;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
}

nav{
    text-align: center;
    gap: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 90%;
    top: 0;
}

nav h2{
    font-size: 1.2rem;
    opacity: 0.5;
    margin-bottom: 2rem;
}

nav hr{
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
    max-width: 10rem;
}

.paginasnav{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 4rem;
}

.fotoperfil{
    width: 100%;
    max-width: 140px;
    height: auto;
    margin-bottom: 2vh;
}

.conteudodapagina{
    margin: 2vh 1vw 2vh 280px;
    flex: 1;
    column-count: 4;
    column-gap: 1rem;
}

.conteudodapagina img{
    width: 100%;
    margin-bottom: 1rem;
    display: block;
    break-inside: avoid;
}

.contatoslink a{
    display: flex;
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
}